{% extends '/layouts/base.html.twig' %}

{% block title %}Trustindex | Review - Add{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5">
            {{ form_start(reviewForm) }}
                {{ form_row(reviewForm.companyName) }}
                {{ form_row(reviewForm.rating) }}
                {{ form_row(reviewForm.reviewText) }}
            {{ form_end(reviewForm) }}
        </div>
    </div>
{% endblock %}
